figure {
  text-align: center;
}
.glossary-term {
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 2px rgba(0,0,0,0.2) dotted;
}
pre .glossary-term {
  border-bottom: none !important;
}
