<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="http://bradfield.institute/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
  <link rel="stylesheet" href="<%= process.env.SITE_ROOT %>chapter.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js"></script>
  <script src="<%= process.env.SITE_ROOT %>figures.js"></script>
</head>
<body>

<% var nextItem %>

<div class="container">

  <div class="page">
    <div class="content">
      <h1><%= title %></h1>
      <%- contents %>

      <div class="navigation">
        <% if (nextItem) { %>
          Next:
          <a href="<%= process.env.SITE_ROOT %><%= nextItem.path %>">
            <%= nextItem.title %>
          </a>
        <% } %>
        <% if (path === '') { %>
          Next:
          <a href="<%= process.env.SITE_ROOT %>analysis/introduction">
            Introduction to Algorithm Analysis
          </a>
        <% } %>
      </div>
    </div>
  </div>

  <div class="table-of-contents">
    <h1>Practical Algorithms and&nbsp;Data&nbsp;Structures</h2>
    <a href="/">Introduction</a>

    <div class="chapters">
      <% for (var i = 0; i < tableOfContents.length; i++) { %>
        <% var chapter = tableOfContents[i] %>
        <div class="chapter">
          <h2><%= chapter.sectionName %></h2>
          <ol>
          <% for (var j = 0; j < chapter.collection.length; j++) { %>
            <% var section = chapter.collection[j] %>
            <li>
              <% if (section.path === path) { %>
                <% nextItem = section.next %>
                <%= section.title %>
              <% } else { %>
                <a href="<%= process.env.SITE_ROOT %><%= section.path %>"><%= section.title %></a>
              <% } %>
            </li>
          <% } %>
          </ol>
        </div>
      <% } %>
    </div>

  </div>

</div><!-- .container -->

</body>
</html>
