@font-face {
  font-family: 'Whitney';
  src: url('./WhitneyHTF-Light.woff') format('woff');
  font-weight: 300;
  font-variant: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('./WhitneyHTF-Medium.woff') format('woff');
  font-weight: 400;
  font-variant: normal;
}

html {
  background: rgb(242, 242, 242);
  color: #243340;
  font-family: 'Whitney', helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  line-height: 1.3em;
  margin: 1.5em 0 1em;
}

blockquote {
  border-left: 5px solid rgba(36, 51, 64, 0.1);
  margin-left: 0;
  padding-left: 15px;
  margin-bottom: 20px;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #07c;
  text-decoration: none;
}
a:visited {
  color: #0c65a5;
}
a:hover {
  color: #30a7fc;
}

.table-of-contents {
  flex: 0 1 auto;
  font-size: 16px;
  min-width: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 20px 40px 50px;
  width: 350px;
}

.navigation {
  flex: 1 1 auto;
  background: white;
  display: flex;
  height: 100%;
}

.navigation-left,
.navigation-right {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 80px;
  z-index: 100;
}

.navigation-left a,
.navigation-left a:visited,
.navigation-right a,
.navigation-right a:visited {
  color: rgba(36, 51, 64, 0.5);
}

.navigation-left a:hover,
.navigation-right a:hover {
  color: rgba(36, 51, 64, 0.8);
}

.content-wrapper {
  flex: 1 1 auto;
  margin-left: -80px;
  margin-right: -80px;
  overflow: auto;
}

.content {
  margin: auto;
  padding: 20px 0 60px;
  width: 720px;
}

ol.chapters {
  padding: 0;
}

code, code[class*="language-"] {
  font-family: Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre {
  background: rgba(242, 242, 242, 0.5);
  padding: 20px;
  overflow-x: scroll;
}

figure {
  text-align: center;
  margin: 0;
}

figure img {
  max-width: 100%
}

figcaption {
  font-style: italic;
  margin: 10px 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 10px 10px;
  line-height: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.125);
}

th { vertical-align: bottom }
td { vertical-align: top }

table tr:last-child td {
  border-bottom: 0;
}

.katex-block {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.graph-node {
  fill: #243340;
  stroke-width: 0px;
}

.graph-node text {
  color: #243340;
  font-family: Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
}

.graph-edge {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.graph-edge-emphasized {
  stroke: #243340;
  stroke-width: 4px;
}

.graph-edge-deemphasized {
  stroke: #eee;
}
